
     body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 200, 200);
        color: blue;
     }
#banner {
background-color: rgb(166, 239, 255);
border: 5px double blue;
}
#content {
    width: 60%;
    margin: auto;
    border: 1px double blue;
}
#blogpost{
    background-color: rgb(4, 188, 252);
}
.post {
    color: rgb(0, 100, 255);
    border: 3px double rgb(0, 0, 255);
    padding: 10px;
}
#about {
    color: rgb(195, 225, 200)
}

.post .left {
    float: left;
    margin-right: 10px;
}
.post img{
width: 200px;
/* display: block; */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

a:hover {
    color: rgb(0, 0, 255);
}

#left {
    float: left;
}

